<!-- blog/templates/blog/rate_post.html -->
{% extends 'base.html' %}

{% block content %}
  <h2>Rate this Post</h2>
  {% if post.pk %}{{ post.pk }}{% else %}No post.pk value{% endif %}
  {# Temporary debug statement to print the URL #}
{% url 'rate_post' pk=post.pk as rate_post_url %}
<p>Debug: Rate Post URL: {{ rate_post_url }}</p>
  <form method="post" action="{% url 'rate_post' pk=post.pk %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="bg-blue-500 text-white">Submit Rating</button>
  </form>
{% endblock %}
